

<div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>
<br /><br /><br />

<p> <%= @idetails%></p>

<br /><br /><br />



<br /><br /><br />
  
 
 <br /><br /><br />
 
 
 <%=  @file%>
 
 
  <br /><br /><br />

<p> <%= @idetails_par%></p>






