 
  <div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>

 <%=@mytest1 %>
<br /><br />
 <%=@mytest %>
 <br />

<button method='post' id = "button" data-remote ="true" class='btn'>  link </button>
 
  <br /><br />
 
 <div id="data" style="color:red"></div>
 
<script>
 
 $(document).ready(function(){
      $('#button').click(function(){
       $('#loadingmessage').show()
         callajax();
        });
  });  
  
  //===================================
   function callajax(){
       
   $.ajax({
   url: '/validator.json/?id=<%=@id%>', dataType: "json",
     beforeSend : function(xhr){
       xhr.setRequestHeader("Accept", "application/json")
     },
     success : function(data){
           $('#loadingmessage').hide();
       //.. do something with data
      $.each(data, function( i, v ) {
           $('#data').append("<ul>")
          $.each(v, function( index, value ) {
                $('#data').append( "<li>"+value +"</li>")
          });
           $('#data').append("</ul>")
    });
        },
          error: function(objAJAXRequest, strError, errorThrown){
           alert("ERROR: " + strError);
        }
        }
    );


}   
 
//===================================================================   
</script>

<br /><br />
<div id='loadingmessage' style='display:none'>
       <img src='../assets/images/ajax-loader.gif'/>
</div>


<br /><br />
  
 
  



