 
  <div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>
</div>

  
       
  
  <br /><br />
 <%=@raw %>
 <br />
 
 
 
 
<button method='post' id = "button" data-remote ="true" class='btn'>  link </button>
 
  <br /><br />
 
 
 
 <br /><br />
 
 
 
 <div id="data" style="color:red">
   
 </div>
<script>
  
         
  $(document).ready(function(){
      
      $('#button').click(function(){
       
      var data, xhr;
      
     
      data = callajax()
      
      
        
  });
  
  
  });  
  
  //===================================
   function callajax(){
       
   $.ajax({
   url: '/validator.json/?id=<%=@id%>', dataType: "json",
     beforeSend : function(xhr){
       xhr.setRequestHeader("Accept", "application/json")
     },
     success : function(data){
       //.. do something with data
      $.each(data, function( i, v ) {
           $('#data').append("<ul>")
          $.each(v, function( index, value ) {
                $('#data').append( "<li>"+value +"</li>")
          });
           $('#data').append("</ul>")
    });
     },
     error: function(objAJAXRequest, strError, errorThrown){
       alert("ERROR: " + strError);
     }
  }
);


   
     
}   
 
//===================================================================   
   function getXMLHttpRequest() {

   var xhr = null;

   if (window.XMLHttpRequest || window.ActiveXObject) {
      if (window.ActiveXObject) {
         try {
            xhr = new ActiveXObject("Msxml2.XMLHTTP");
         } catch(e) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
         }
      } else {
         xhr = new XMLHttpRequest();
      }
   } else {
      alert("Your browser doesn't support XMLHTTPRequest...");
      return null;
   }

   return xhr;

}
//===================================================================
 
 function to_each(obj){
       var items = [];
     $.each(obj, function(index, message)    {
        
        $.each(message, function(i, item) {
            if (item[0]== null || item[0] ){   }
                else{
              items.push('<li>'+item[0]+' : '+item[1] + '</li>');
            }
             
        });
   });  // close each()
 
  
  
     return items
  
 }


</script>

<br /><br />



 
<br /><br />
  
 
  



