 
  <div>
<lable>back to </lable>
<%= link_to "Upload", "/uploads" %>


</div>


 
   
        
 <table>
 <%@mytest.each do |t| %>
 <tr>
 <%t.each do |i| %>
 <td><%= i%></td>
 <%end%>
 </tr>
 <%end%>
 
  
 </table>
  



