<h1>Welcome to ICE validation toolkit</h1>

<h3>Upload file for validation</h3>
<p><%= link_to 'Upload', uploads_path %></p>
<br />

<h3>Setup</h3>

<p><%= link_to 'Supplier', suppliers_path %></p>
<p><%= link_to 'Layout', layouts_path %></p>

