

.dropz {
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 120px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
}

#uploadfile 	{
  border: 2px dashed #707070;
  color: #6E6E6E;  
  height: 120px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
    position: absolute;
    left: -1000px;
    
   
}



