 
<table>
<tbody>
   <% @uploads.each do |up| %>
 <tr>
        <td><%= up.filepath %></td>
        
        <td><%= link_to "Download", download_index_path(:file => up.filepath, :filepath => "public/data"), :method => :get, :controller => DownloadController %></td>
        <td><%= link_to 'Delete', upload_path(:id => up.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to  'Validate', validator_path(:id => up.id) %></td>

     
</tr>
  <% end %>


  </tbody>
  </table>