<p id="notice"><%= notice %></p>
<ul>
<% @d.each do |l| %>

<li></li><%= l%></li>

<%end %>
</ul>
</br>
<div>
<%= link_to "Upload", "/uploads" %>
</div>

</br>
<ul>
<% Dir.entries("public/data")[2..-1].each do |file_name| #[2..-1] as the first two will be ".", ".." %>
  <li><%= link_to file_name, download_download_path( :file => "#{URI.escape(file_name)}"), :method => :post, :controller => DownloadController %></li>
<% end %>
</ul>
