  
 
<%= link_to 'Back', layouts_path %>

<%=  @len%>
        
<table>


  <tr>
      <% @layout.each do |key , val| %> 
          
            <th><%= key %></th>
        <% end %>   
        </tr>
        
        
         <% for i in 0..@len  %> 
                <tr>
                   <% @layout.each do |key , val| %> 
                       <td><%= val[i] %></td> 
                   <% end %>   
                </tr>  
            
            
       <% end %>   
         
       
</table>











